/******************************************
/* CUSTOM PROPERTIES
/*******************************************/
:root {
  --clr-primary-100: 13 93% 63%; 
  --clr-primary-400: 177 83% 9%;  

  --clr-secondary-400: 52 98% 76%; 
  
  --clr-accent-100:  rgb(210, 239, 235);
  --clr-accent-400: hsl(161 8% 38%); 


  --clr-neutral-100: 0 0% 95%; 
  --clr-neutral-200: #ebebeb;
  --clr-neutral-300: hsl(0 0% 92%); 
  --clr-neutral-500: hsl(216, 12%, 84%); 
  --clr-neutral-900: hsl(160 38% 3%);

 
  --clr-icon: 344 91% 59%;

  /* Typography  */
  --fw-light: 300; 
  --fw-regular: 400; 
  --fw-medium: 500
  --fw-semi-bold: 600; 
  --fw-bold: 700; 
  --fw-black: 900;   

  --fs-size-100: 1.12rem; 
  --fs-size-200: 1.44rem; 
  --fs-size-300: 1.6rem; 
  --fs-size-400: 1.92rem; 
  --fs-size-500: 2.08rem; 
  --fs-size-600: 2.4rem; 
  --fs-size-700: 4.6rem; 
  --fs-size-800: 6.5rem;   

  --fs-body: var(--fs-size-300);
  --fs-primary-heading: clamp(3.5rem, 9vw + 1rem, var(--fs-size-800)); 
  --fs-secondary-heading: clamp(2.6rem, 6vw + 1rem, var(--fs-size-700));
  --fs-button: var(--fs-size-200); 

  /* --fs-primary-heading: var(--fs-size-800); */
  /* --fs-secondary-heading: var(--fs-size-700);
    */
  
  --ff-primary: 'Nunito', sans-serif;

  /* Spacing */ 
  --size-100: 0.4rem; 
  --size-200: 1.2rem; 
  --size-300: 1.4rem; 
  --size-400: 1.6rem; 
  --size-500: 2rem; 
  --size-600: 2.4rem; 
  --size-700: 3rem; 
  --size-800: 4rem; 
  --size-900: 8rem; 
  --size-medium: 9.8rem; 
  --size-large: 12.8rem; 
}

/******************************************
/* BASE STYLES
/*******************************************/

html {
  font-size: 62.5%;   
}

body {
  font-family: var(--ff-primary); 
  color: var(--clr-accent-400);
  font-size: var(--fs-body);
  font-weight: 400;  
  line-height: 1.5;
  min-height: 100vh; 
  overflow-y:auto; 
  overflow-x:hidden !important;    
}

main {
  position: relative; 
}

h1, h2, h4, h5, h6 {
  color: var(--clr-neutral-900); 
}

h1, h2, h3, h4, h5{
  font-weight: var(--fw-bold);
}


h3 {
  color: hsl(var(--clr-primary-100)); 
}

h4 {
  font-size: var(--fs-size-600);
  line-height: 1.3; 
}


@media(min-width: 50em){
  p,
  li {
  max-width: 60ch;
}

h1 {
  max-width: 20ch;
}

h2,
h3  {
  max-width: 25ch;
}

h4, h5 { 
  max-width: 30ch; 
} 

}
/* 
img {
  max-width: min(55rem, 100%);
} */

/******************************************
/* UTILITY CLASSES  
/*******************************************/

.text-primary-100 {
  color: hsl(var(--clr-primary-100));
}

.text-accent-400 {
  color: var(--clr-accent-400);
}

.text-neutral-200 {
  color: var(--clr-neutral-200);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.fs-400{
  font-size: var(--fs-size-400);
}
.fs-500{
  font-size: var(--fs-size-500);

}
.fs-600{
  font-size: var(--fs-size-600);
}
.fs-700{
  font-size: var(--fs-size-700);
  line-height: 1.3; 
}

.align-center {
  text-align: center; 
}

.bg-primary-100 {
  background-color: hsl(var(--clr-primary-100));
}

.bg-primary-400 {
  background-color: hsl(var(--clr-primary-400));
}

.bg-neutral-100 {
  background-color: hsl(var(--clr-neutral-100));
}

.bg-neutral-200 {
  background-color: var(--clr-neutral-200); 
}

.bg-neutral-300 { 
  background-color: var(--clr-neutral-300);
}

.bg-neutral-500 { 
  background-color: var(--clr-neutral-500);
}

.bg-accent-100 {
  background-color: var(--clr-accent-100); 
}

.fs-primary-heading {
  font-size: var(--fs-primary-heading); 
  line-height: 1.1;
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  line-height: 1.1;    
}

.fs-100 {
  font-size: var(--fs-size-100);   
}

.fs-200 {
  font-size: var(--fs-size-200);  
}

.fw-bold {
  font-weight: var(--fw-bold);
}

.fw-black {
  font-weight: var(--fw-black); 
}

.padding-block-400 {
  padding-block: var(--size-400); 
}

.padding-block-700 {
  padding-block: var(--size-700); 
}

.padding-block-900 {
  padding-block: var(--size-900);
}

.padding-block-medium {
  padding-block: var(--size-medium);
}

.padding-block-large {
  padding-block: var(--size-large);
}

.flex {
  --gap: var(--size-600);
  display: flex; 
  align-items: center;    
  gap: var(--gap);
}

.even-columns {
  --gap: var(--size-500);
  display: grid; 
  gap: var(--gap); 
}

.text-center {
  text-align: center; 
}


.heading-wrapper{
  --flow-space: 0.4em; 
  text-align: center;
  width: 100%;  
}

@media (min-width: 50em) {
  .even-columns {
    grid-auto-flow: column; 
    grid-auto-columns: 1fr;
    text-align: left; 
  } 

  .heading-wrapper {        
    --flow-space: 0.8rem;     
    text-align: left;  
  }  

  .heading-wrapper--testimonials{
    align-items: center; 
  }
}
 
.container { 
  --max-width: 1200px; 
  --padding: 2rem; 
  width: min(var(--max-width), 100% - (var(--padding) * 2 )); 
  margin-inline: auto; 
}

.rounded-sm {
  border-radius: 7.5px;  
}

.rounded { 
  border-radius: 15px; 
}

.light-shadow {
  box-shadow: 0px 0.1rem 0.4rem rgba(100, 100, 111, 0.2);
}

.shadow {
  box-shadow: 0px 0.7rem 2.8rem rgba(100, 100, 111, 0.2);
}

.padding-card {
  padding: 2.4em 1.5em; 
}

.flex-col { 
  display: flex; 
  flex-direction: column; 
    
}

.flex-col-reverse {
  flex-direction: column-reverse; 
}

/* From piccalil */

.flow > * + * {
  margin-top: var(--flow-space, 0.5em);
}

@media (min-width: 50em) {
  .flow > * + * {
    margin-top: var(--flow-space, 1em)
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.grid {
  display: grid; 
}
/******************************************
/* General Styles
/*******************************************/

.btn {  
  display: inline-block; 
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-200);
  font-size: var(--fs-button);
  background-color: hsl(var(--clr-primary-100));
  padding: .8em 1.6em;
  border-radius: 50em;
  box-shadow: 0px 0.5rem 2rem rgba(100, 100, 111, 0.2);
  transition: all 0.3s ease-in-out; 
}

.btn--secondary, 
.btn--cta {
  background-color: hsl(var(--clr-neutral-100));
}

.btn--secondary {  
  color: hsl(var(--clr-primary-400));
}

.btn--cta {
  color: hsl(var(--clr-primary-100));
}

.btn:hover {
  background-color: hsl(var(--clr-primary-100) / .8);   
}

.btn--secondary:hover, 
.btn--cta:hover { 
  background-color: hsl(var(--clr-neutral-100) / .8);
}

.btn-video { 
  --gap: var(--size-200); 
  font-weight: var(--fw-bold);
  font-size: var(--fs-button);          
}

.btn-video:hover > * {
  color: hsl(var(--clr-primary-100) / .8);
  transition: all 0.3s ease-in-out;  
}

.btn-video__icon {
  font-size: var(--size-300);     
  color: var(--clr-neutral-200);
  border: 1px solid var(--clr-neutral-200);
  border-radius: 50%; 
  padding: 0.8em;   
}

@media (min-width: 50em){
  .btn-video__icon {
    font-size: 1.6rem;  
    color: var(--clr-neutral-200);
    border: 1px solid var(--clr-neutral-200);
    border-radius: 50%; 
    padding: 0.8em;   
  }
}

.nav__link, .card__link { 
  position: relative;  
}

.card__link {  
  font-size: var(--fs-size-200);
  color: hsl(var(--clr-primary-100));   
}

.nav__link:link, .nav__link:visited, 
.card__link:link, .card__link:visited {
  display: inline-block; 
}

.nav__link:hover, 
.card__link:hover {   
  color: hsl(var(--clr-primary-100) / 0.7);   
}

.nav__link::after,
.card__link::after {
  content: ""; 
  left: 0; 
  bottom: 0; 
  position: absolute; 
  background: hsl(var(--clr-primary-100) / 0.7); 
  height: 1px; 
  width: 100%; 
  transform: scaleX(0); 
  transform-origin: right; 
  transition: transform 300ms ease-in-out;    
}

.nav__link:hover::after, 
.card__link:hover::after {
  transform: scaleX(1); 
  transform-origin: left; 
}

.rounded-btn {
  cursor: pointer; 
  display: inline-block; 
  font-size: 40px; 
  --ionicon-stroke-width: 16px;
  color: hsl(var(--clr-primary-100));
  transition: all 0.3s ease-in-out; 
}

.rounded-btn:hover, 
.rounded-btn:focus-visible {  
  color: hsl(var(--clr-primary-100) / 0.9);
}

.card-icon {
  font-size: 32px; 
  padding: 0.5em;
  --ionicon-stroke-width: 32px;  
}


/* SVG Umbrella logo */ 
.logo {
  width: 14rem;   
  aspect-ratio: 3 / 1;   
}


.services, .about, .blog, .projects, .testimonials {
  --flow-space: 2.4rem; 
 }
/* //////////////////////////
    Section Header/main-nav
 ////////////////////////////*/

.primary-header {
  padding-block: 1.8rem; 
}

/* @media(min-width: 50em){ 
  .primary-header{
    padding-block: var(--size-500); 
  }
} */

.main-nav { 
  justify-content: space-between;   
  align-items: center;  
  width: 100%; 
  z-index: 100;   
}


@media (min-width: 54em) {
  .main-nav {
    --max-width: 1200px; 
  --padding: 2rem; 
  width: min(var(--max-width), 100% - (var(--padding) * 2 )); 
  margin-inline: auto;  
  }
}


.primary-navigation {
  --gap: var(--size-700);
  align-items: center;       
}

.mobile-nav-toggle {
  display: none; 
}

.sticky {
  position: fixed;
  width: 100%; 
  z-index: 100;  
  transition: background 200ms ease-in;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
  background-color: hsl(var(--clr-primary-400))
}


@media (max-width: 35em) {
  .primary-navigation {    
    position: fixed; 
    z-index: 1000; /* just to be sure */ 
    inset: 0 0 0 20%; 
    
    flex-direction: column;     
     
    padding: min(30vh, 15rem) 2em; 
      
    background: hsl(var(--clr-primary-400) / 0.7);
    backdrop-filter: blur(2rem); 

    transform: translateX(100%); 
    transition: transform 350ms ease-out; 
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0); 
  }

  .primary-header__contact {
    display: none; 
  }

  .mobile-nav-toggle {        
    display: block;  
    position: absolute;   
    z-index: 9999; 
    background-color: transparent; 
    background-image: url(/assets/svg/mobile-nav/menu.svg); 
    background-repeat: no-repeat; 
    width: 3rem; 
    border: 0; 
    aspect-ratio: 1; /* height and width the same */ 
    top: 3rem; 
    right: 3rem; 
  }

  .mobile-nav-toggle[aria-expanded="true"]{
    background-image: url(/assets/svg/mobile-nav/close.svg); 
  }

}


/* //////////////////////////
    Section Hero 
 ////////////////////////////*/
.section-hero {  
  height: 95vh; 
  position: relative;   
  isolation: isolate;    
}

.section-hero::after{
  content: ""; 
  position: absolute; 
  z-index: -1; 
  inset: 0; 
  background-image: url(/assets/svg/bg-hero.svg); 
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: top; 
    /* I use a pseudo-element so I can play with the opacity*/ 
  opacity: 0.1;   
}

.hero {  
  gap: var(--size-800);  
  text-align: center; 
}


.hero__text-box{
  --flow-space: 1.5em; 
  position: relative; /* For the arrow and star svg's*/ 
  align-items: center; 
  justify-content: center;
}

.hero__text-box__icon{
  position: absolute; 
  top: -3rem; 
  right: -2.4rem; 
  width: 10rem; 
}

@media(min-width: 50em){
  .hero__text-box__icon{
    position: absolute; 
    top: 1.8rem;; 
    right: -4rem; 
    width: 20rem; 
  }
}


.hero__img-box {
  position: relative; /* For the four stars*/ 
  justify-content: center;
  align-items: center;
}

@media (min-width: 64em) {
  .section-hero { 
    height: 95vh;            
    padding-block: var(--size-200);    
  }   

  .hero {
    flex-direction: row;
    justify-content: space-between; 
    gap: 4rem; 
    text-align: left; 
  }

  .hero__text-box{    
    align-items: start;     
  }
}

@media (min-width: 100em){
  .section-hero {
    height: 65vh; 
  }   
}

.btn-wrapper {  
  justify-content: center; 
  gap: var(--size-700);
}

@media(min-width: 64em) {  
  .btn-wrapper {
    gap: 2.4rem; 
    justify-content: start;  
  }
}

/* @media (min-width: 90em) {
  .section-hero {
    min-height: 70vh; 
  }  
}

.btn-wrapper {
  --flow-space: 3.2rem; 
} */

/* //////////////////////////
    Section Logos 
 ////////////////////////////*/

.section-logos__wrapper {  
  position: relative;  
  padding: 3.2rem 2em; 
  justify-content: center;
  align-items: center;  
  text-align: center;    
  z-index: 1;   
  background-color: hsl(var(--clr-neutral-100));  
  transform: translateY(-30%); 
  gap: 2.4rem;   
}

.section-logos__items {
  /* gap: 2.4rem;  */
  justify-content: center; 
  align-items: center; 
  /* flex-wrap: wrap ;   */
  flex-wrap: wrap;  
}

.section-logos__item{  
  width: min(10vh, 7rem);    
}

@media (min-width: 50em) {
  .section-logos__wrapper{ 
    gap: 1.8rem;    
    padding: 5.6rem 2em;    
    /* transform: translateY(65%);  */
    transform: translateY(-10%); 
  }

  .section-logos__items {
    column-gap: 6.2rem; 
  }

  .section-logos__item{
    min-width: 10rem;        
  }
}

/* //////////////////////////
    Section Services
 ////////////////////////////*/
.section-services {  
  background-image: url(/assets/svg/curve-line-services.svg);
  background-repeat: no-repeat;   
  background-size: cover; 
  padding-top: 25rem; 
}

.services-cards__item { 
  background: hsl(var(--clr-neutral-100));    
  --flow-space: 1em;   
  box-shadow: 0px 0.2rem 0.8rem rgba(100, 100, 111, 0.1);  
}


/* services card-icons*/ 
.card-icon[name*=rocket] {
  --clr-icon: 344 91% 59%;
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) /0.1)
}
.card-icon[name*=megaphone] {
  --clr-icon: 15 98% 68%;
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) /0.1)
}
.card-icon[name*=chatbubbles] {
  --clr-icon: 155 61% 44%;
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) /0.1)
}
.card-icon[name*=balloon] {
  --clr-icon: 250 79% 59%;
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) /0.1)
}
.card-icon[name*=bonfire] {
  --clr-icon: 0 72% 61%;
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) /0.1)
}

/* //////////////////////////
    Section About
 ////////////////////////////*/

.section-about {
  background-image: url(/assets/svg/curve-about.svg); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;  
}

.about {
  position: relative; 
  align-items: center;
  justify-items: center;   
}

.about__img-box {
  justify-self: center; 
}

@media (min-width: 50em) {
  /* .about__img{    
    top: -8%;  
    left: 0; 
  } */
}


.heading-btn--bottom {  
  margin-top: var(--size-600);  
  text-align: center;  
}


.heading__btn--top {
  display: none; 
}

@media (min-width: 50em){
  .heading-btn--bottom {
    display: none;     
  }

  .heading__btn--top {
    display: flex;
    gap: var(--size-100); 
  }
}

.about__description {
  --flow-space: 1.8em; 
  align-items: center; 
}

@media (min-width: 50em){
  .about__description {
    align-items: start; 
  }
}

.about__items {
  --flow-space: 0.8em; 
}

.about__item {
  --gap: var(--size-200); 
  padding-left: 1.4rem;   
}

.about__item-icon {
  color: hsl(var(--clr-primary-100));
  font-size: 16px;
}

/* //////////////////////////
    Projects
 ////////////////////////////*/
@media (min-width: 50em){
  .projects__card:first-child{
    margin-top: 2.4rem;       
  }
  .projects__card{
    text-align: left; 
  }
}

.card__image { 
  overflow: hidden; 
}

.card__image img { 
  display: block; 
  width: 100%; 
  transition: all 0.4s ease-in; 
}

.card__image img:hover { 
  transform: scale(1.1); 
}

.card__heading, 
.card__link {
  --flow-space: 0.8em; 
}

.heading__btn {   
  justify-self: end; 
  align-self: center; 
}

.heading-btn--bottom{
  margin-top: 3.2rem;  
}
/* //////////////////////////
    Section Stats
 ////////////////////////////*/
.section-stats {
  background-image: url(/assets/svg/sprinkle.svg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: top center; 
}

.stats-card {
  --flow-space: 1rem; 
  justify-content: center; 
}

.stats-card__text {
  width: 60%; 
}

.stats-card p:last-child{
  --flow-space: 0.5rem; 
}

@media (min-width: 50em) {
  .stats-card {
    flex-direction: column;
    align-items: start;         
  }

  .stats-card__text {
    width: 100%;     
  }
}

/* stats card-icons*/

.card-icon[name*=rocket-stats] {
  --clr-icon: 158 84% 46%;
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) /0.2)
}

.card-icon[name*=trophy] {
  --clr-icon: 36 93% 68%;
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) /0.2)
}

.card-icon[name*=happy-face] {
  --clr-icon: 360 68% 63%;
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) /0.2)
}

.card-icon[name*=nerd-face] {
  --clr-icon: 209 96% 52%;  
  color: hsl(var(--clr-icon)); 
  background-color: hsl(var(--clr-icon) / 0.2)
}

/* //////////////////////////
    Section Blog
 ////////////////////////////*/
.blog__heading { 
  justify-content: space-between;      
}

.blog__cards{
  --gap: var(--size-700); 
} 

.blog__cards-item p { 
  --flow-space: 1.6rem; 
}

.blog__cards-item h5 { 
  --flow-space: 0.8rem; 
}

.blog__cards-item .card__link { 
  --flow-space: 1.6rem; 
}

@media(min-width: 50em) {
  .blog__cards-item{
    text-align: left; 
  }
}

/* //////////////////////////
    Section Testimonials
 ////////////////////////////*/

.section-testimonials {
  background-image: url(/assets/svg/curve-testimonial.svg); 
  background-repeat: no-repeat;
  background-size: cover;   
}

.testimonials { 
  /* --flow-space: 4.8rem; */
  position: relative; /* For the SVG*/ 
}

.testimonials__row{
  --gap: 0; 
}

.testimonial {
  --flow-space: 1em; 
}

.testimonial__rating { 
  --gap: 0.5rem; 
}

.testimonial__rating-icon {
  color: hsl(var(--clr-primary-100)); 
  font-size: 16px;   
}

.testimonial__user{
  --gap: var(--size-200); 
}

.testimonial__user__img {
  display: inline-block; 
  border-radius: 50%; 
  width: 6.4rem; 
}

/* //////////////////////////
    Section CTA
 ////////////////////////////*/
 .cta {
  position: relative;   
  place-items: center;
  padding-inline: 0.8rem; 
  transform: translateY(50%);  
  text-align: center; 
}

.cta::before {
  content: ""; 
  position: absolute; 
  z-index: -1; 
  inset: 0; 
  background-image: url("/assets/svg/cta.svg");
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: top;  
  /* I use a pseudo-element so I can play with the opacity*/
  opacity: 0.7; 
  border-radius: inherit;  
}

/* .cta { 
  background-image: url("/assets/svg/cta.svg");
  background-repeat: no-repeat; 
} */

@media (min-width: 50em) {  
  .cta {
    /* background-image: url(/assets/svg/curve-cta.svg); 
    background-repeat: no-repeat;
    background-position: bottom;  */
    padding-inline: 8rem;
    grid-auto-columns: 1.5fr .5fr; 
    text-align: left;    
  }    

  .btn-wrapper--cta {
    justify-self: end; 
  }  
}

/* //////////////////////////
    Section Footer
 ////////////////////////////*/
.primary-footer{ 
  --logo-color: hsl(var(--clr-primary-100));   
}

.footer-nav {
  --gap: var(--size-800); 
  justify-items: center;  
  padding-top: 10rem;   
}

.footer-nav p {
  max-width: 25ch; 
}

.footer-nav a {
  color: var(--clr-accent-400);
  text-decoration: none;  
}

.footer-nav a:is(:hover, :focus) {
  color: hsl(var(--clr-primary-100) / 0.8);
  transition: all 0.3s ease-in; 
}

.social-list {
  gap: var(--size-300);
  justify-content: center; 
}


@media (min-width: 50em) {
  .social-list {     
    justify-content: start; 
  }
}

.social-icon { 
  width: var(--size-600); 
  aspect-ratio: 1;  /* To fix the height. They're squares  */ 
  fill:  hsl(var(--clr-primary-100));
}

.social-list a:is(:hover, :focus) .social-icon {
  fill: hsl(var(--clr-primary-100) / 0.7);
  transition: all 0.2s ease-out; 
}

@media (min-width: 50em) {
  .social-icon {
    width: var(--size-500);
  }
}

/* .footer__link{
  text-decoration: none;  
  color: var(--clr-accent-400); 
}

.footer__link:hover { 
  color: hsl(var(--clr-primary-100) / 0.8);
  transition: all 0.3s ease-in; 
} */

.newsletter-form{
  position: relative; 
}

.newsletter-form__input, 
.newsletter-form__button {
  background: none; 
  outline: none; 
  border: none;  
  display: block; 
}

.newsletter-form__input { 
  border: 2px solid hsl(var(--clr-primary-100) / 0.5); 
  font-family: inherit;
  font-size: var(--fs-size-300); 
  line-height: 1.5; 
  margin: 0; 
  border-radius: 25px;
  letter-spacing: 0.02em;  
  width: 100%; 
  flex-grow: 1; 
  padding: 1.2rem 4.6rem 1.2rem 1.8rem; 
  color: var(--clr-accent-400); 
}

.newsletter-form__input::placeholder {
  color: var(--clr-accent-400);
}

.newsletter-form__input:hover {
  border: 2px solid hsl(var(--clr-primary-100) / 0.7); 
}

.newsletter-form__input:focus {
  border: 2px solid hsl(var(--clr-primary-100)); 
}

.newsletter-form__button {  
  cursor: pointer;  
  position: absolute; 
  top: 4px; 
  right: 1px; 
}

.copyright{
  margin-inline: auto; 
  max-width: 80%; 
  margin-top: var(--size-900);  
  justify-content: center; 
  border-top: 1px solid #999; 
}

.copyright__text {
  padding-top: var(--size-600);  
}
/* //////////////////////////
    DECORATION SVG 
 ////////////////////////////*/
 
.svg {
  position: absolute; 
  width: 20%; 
}

/* Hero */ 
.svg--arrow{  
  top: 14%; 
  right: 18%;  
  transform: rotate(20deg)
}

.svg--twelve-star {
  top: 11%; 
  right: 11%;  
}

.svg--four-stars-orange {
  width: 15%;
  top: 10%;  
  right: 10%; 
}

@media (min-width: 50em){  
  .svg--arrow{  
    top: 1%; 
    right: 4rem; 
    width: 8rem;   
    transform: rotate(6deg)
  }

.svg--twelve-star {
    top: -8%; 
    right: 0; 
    width: 8rem; 
  }
}

/* About and Testimonials*/ 
.svg--green-stars-inverted{  
  bottom: -5%; 
  right: -5%; 
}

.svg--testimonials {
  bottom: -5%; 
  right: 0; 
}

@media (min-width: 50em) {
  .svg--green-stars{
    width: 10%; 
    top: 0; 
    left: -5%; 
  }
  
  .svg--green-stars-inverted{
    width: 10%; 
    bottom: 0; 
    right: -5%; 
  }
  
  /* Testimonials */
  .svg--testimonials {
    width: 10%; 
    bottom: -10%; 
    right: -5%; 
  }
}

